<!-- Projects Holder -->
<div class="projects-holder black dark clearfix">
    <!-- Single Project -->
    <div class="single-project animated fade-in"
         data-ng-class="{'fade-in-animation':portfolio}">
        <div class="project-image">
            <img src="images/portfolio/project_01.jpg" alt="" />
        </div>
        <div class="project-mask">
            <div class="project-info">
                <div class="project-title">Swimming Pool</div>
                <div class="project-caption text-blue">Webdesgin</div>
                <div class="project-buttons">
                    <a href class="btn btn-blue btn-sm" data-ng-click="viewportfolio()">View it</a> 
                    <a href target="_blank" class="btn btn-default btn-sm">Online version</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Single Project -->
    <div class="single-project animated fade-in appear-third"
         data-ng-class="{'fade-in-animation':portfolio}">
        <div class="project-image">
            <img src="images/portfolio/project_02.jpg" alt="" />
        </div>
        <div class="project-mask">
            <div class="project-info">
                <div class="project-title">Shopping Mall</div>
                <div class="project-caption text-yellow">Webdesgin / Webdevelopment</div>
                <div class="project-buttons">
                    <a href class="btn btn-yellow btn-sm" data-ng-click="viewportfolio()">View it</a> 
                    <a href target="_blank" class="btn btn-default btn-sm">Online version</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Single Project -->
    <div class="single-project animated fade-in appear-second"
         data-ng-class="{'fade-in-animation':portfolio}">
        <div class="project-image">
            <img src="images/portfolio/project_03.jpg" alt="" />
        </div>
        <div class="project-mask">
            <div class="project-info">
                <div class="project-title">Animal Charity</div>
                <div class="project-caption text-green">Corporate Identity</div>
                <div class="project-buttons">
                    <a href class="btn btn-green btn-sm" data-ng-click="viewportfolio()">View it</a> 
                    <a href target="_blank" class="btn btn-default btn-sm">Online version</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Ajax Project Details -->
<div class="project-content">
    <div class="content padded my-slide-animation" ng-if="showDetail">

        <div class="row">

            <div class="col-lg-6">

                <!-- Top Bar -->
                <div class="top-bar">
                    <span class="pull-left"><a href class="btn btn-default btn-sm btn-pull-up" data-ng-click="close()"><i class="fa fa-times icon-before"></i>Close</a></span>
                    <h6 class="pull-right text-muted short">Project Details</h6>
                </div>

                <div class="long">
                    <h2 class="short">Social Media App</h2>
                    <span class="text-muted">webdesign / webdevelopment</span>
                </div>

                <div class="row">

                    <div class="col-lg-6">
                        <h5>General Info</h5>
                        <p>Aliquam eleifend justo vitae augue pharetra, ac pellentesque tellus elementum. </p>
                    </div>

                    <div class="col-lg-6">
                        <h5>Project Details</h5>
                        <p>Aenean mollis malesuada libero ac vestibulum. Vivamus viverra sagittis neque ut iaculis. In hac habitasse platea dictumst. Nulla facilisi.</p>
                    </div>

                    <div class="col-lg-12">
                        <h5>Results</h5>
                        <p>Aenean mollis malesuada libero ac vestibulum. Vivamus viverra sagittis neque ut iaculis. In hac habitasse platea dictumst. Nulla facilisi. Pellentesque molestie dignissim tortor, quis pellentesque neque aliquet eu. Phasellus dignissim hendrerit diam, non ultrices lorem commodo eu. In id odio velit. </p>
                        <p><a href="#" class="btn btn-primary">Online version</a> <a href="#" class="btn btn-default">I need similar stuff!</a></p>
                    </div>

                </div>

            </div>
            <div class="col-lg-6" set-ng-animate="false">
                <carousel interval="myInterval">
                    <slide>
                        <img src="images/portfolio/project_06.jpg" alt="" />
                    </slide>
                    <slide>
                        <img src="images/portfolio/project_02.jpg" alt="" />
                    </slide>
                    <slide>
                        <img src="images/portfolio/project_05.jpg" alt="" />
                    </slide>
                </carousel>
            </div>

        </div>

    </div>
</div>