<div class="container clearfix">
	<div class="col-md-12 no-padding">
		<div class="heading">
			<div class="title" ui-jq="fitText" ui-options="1.1,{ minFontSize: '24px', maxFontSize: '36px' }">
				关于我
			</div>
			<p>
				A hard worker, a quick learner, a critical problem solver and a passionate developer with solid programming skills.<br>
				 Achieved Microsoft Certification in Web Applications (MCSD), Microsoft Certified Professional (MCPS) and Microsoft Certified HTML5 with JavaScript and CSS3 Specialist.
			</p>
		</div>
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4" ui-appear data-animation="fadeInLeft">
				<img src="images/me.jpg" alt="">
			</div>
			<div class="col-xs-12 col-sm-12 col-md-8 col-lg-8" ui-appear data-animation="fadeInRight">
				<div class="aboutme-name">
					葛豪武 (Haowu Ge)
				</div>
				<div class="aboutme-sub-heading">
					Full-stack .NET/AngularJS Developer
				</div>
				<p class="aboutme-p">
					Master's degree of IT from University of New South Wales (UNSW) with Distinction average (WAM 82.5). The winner of 'CSE Postgraduate Performance Prize' in 2 consecutive semesters respectively in 2012 Semester 2 and 2013 Semester 1.
				</p>
				<p class="aboutme-p">
					 Familiar with application development across different platforms including web, mobile and desktop.<br>
					 Highly experienced with .NET Asynchronous Programming Patterns.<br>
					 Familiar with lasted design patterns - IOC, DI, Repository pattern etc.<br>
					 Highly experienced with AngularJS SPA(Single Page Application) and responsive framework such as Bootstrap<br>
					 Familiar with Angular and .Net unit test - Karma, Jasmine, Protractor, MStest/NUnit, and Moq.
				</p>
				<p>
					<a href="#contact" class="aboutme-btn" du-smooth-scroll>联系我</a>
				</p>
			</div>
		</div>
	</div>
</div>