<div class="container clearfix">
	<div class="col-md-12 no-padding">
		<div class="heading">
			<div><br><br></div>
			<div class="title" ui-jq="fitText" ui-options="1.1,{ minFontSize: '24px', maxFontSize: '36px' }">
				关于我
			</div>
			<!--<p>
				AAA<br>
				BBB
			</p>-->
		</div>
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4" ui-appear data-animation="fadeInLeft">
				<img src="images/me.jpg" alt="">
			</div>
			<div class="col-xs-12 col-sm-12 col-md-8 col-lg-8" ui-appear data-animation="fadeInRight">
				<div class="aboutme-name">
					葛豪武 (Haowu Ge)
				</div>
				<div class="aboutme-sub-heading">
					财务|会计 / 业余系统工程师
				</div>
				<p class="aboutme-p">
					让我想想，该写点啥。。
				</p>
				<p class="aboutme-p">
					 *草稿版本，完善中*<br>
					 *草稿版本，完善中*<br>
					 *AboutMe 404 Not Found.*<br>
					 *草稿版本，完善中*<br>
					 *草稿版本，完善中*
				</p>
				<p>
					<a href="/resume/" class="aboutme-btn" du-smooth-scroll>正式简历</a> <a href="#contact" class="aboutme-btn" du-smooth-scroll>联系我</a>
				</p>
			</div>
		</div>
	</div>
</div>