<div class="container clearfix">
	<div class="col-md-12 no-padding">
		<div class="heading">
			<div class="title" ui-jq="fitText" ui-options="1.1,{ minFontSize: '24px', maxFontSize: '36px' }">
				<br><br>关于我
			</div>
			<!--<p>
				AAA<br>
				BBB
			</p>-->
		</div>
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4" ui-appear data-animation="fadeInLeft">
				<img src="images/me.jpg" alt="">
			</div>
			<div class="col-xs-12 col-sm-12 col-md-8 col-lg-8" ui-appear data-animation="fadeInRight">
				<div class="aboutme-name">
					葛豪武 (Haowu Ge)
				</div>
				<div class="aboutme-sub-heading">
					会计 / 业余运维工程师
				</div>
				<p class="aboutme-p">
					嗨，访客你好，<br>
					我是葛豪武，来自中国·温州，<br>
					1990年生人，暂居杭州，<br>
				</p>
				<p class="aboutme-p">
					 【我是一枚小会计<br>
					 FreeBSD 爱好者，UNIX-Like 家族业余级维护】<br>
					 *草稿版本，完善中*
				</p>
				<p class="aboutme-p" style="color:red;font-weight:bold;font-size:18px">
					 <a>｛（（</a>完整 PGP 指纹
					 <a href="https://pgp.mit.edu/pks/lookup?op=get&search=0x4A11BB72B7C9977A" target="_blank" rel="nofollow">））｝</a>
					 <a  style="font-size:10px" href="/PGP/" target="_blank">使用手册</a>
					 <br>
					 C3D0 BF84 791E D455 F01C<br>
					 BA36 4A11 BB72 B7C9 977A
				</p>
				<p>
					<!--<a href="/resume/" class="aboutme-btn" du-smooth-scroll>正式简历</a> -->
					<a href="#contact" class="aboutme-btn" du-smooth-scroll>联系我</a><a href="/albums/" class="aboutme-btn" du-smooth-scroll>相册</a><a href="/" class="aboutme-btn" du-smooth-scroll>导航</a><a href="/notes/" class="aboutme-btn" du-smooth-scroll>笔记</a>
				</p>
			</div>
		</div>
	</div>
</div>