<!-- Google Map -->
<div id="google-map" ui-appear data-animation="zoomIn" google-map>
</div>
<!-- Contact Content -->
<div class="content contact-content padded dark" ui-appear data-animation="fadeInLeft">
    <i class="title-icon text-primary flaticon-speech43">
    </i>
    <h2>
        Do you want to hire me?
    </h2>
    <!-- Contact List -->
    <ul class="list-unstyled list-unstyled-icons">
        <li>
            <i class="inline-icon icon-before-and-after text-primary fa fa-map-marker">
            </i>
            <span>
                307/36 Shoreline Drive Rhodes 2138 NSW, Australia
            </span>
        </li>
        <li>
            <i class="inline-icon icon-before-and-after text-primary fa fa-comment">
            </i>
            <a href="mailto:3dslayer@gmail.com">
                3dslayer@gmail.com
            </a>
        </li>
        <li>
            <i class="inline-icon icon-before-and-after text-primary fa fa-phone">
            </i>
            <a href="tel:+61426965005">
                +(61)405849585
            </a>
        </li>
    </ul>
    <br>
    <br>
    <!-- Bottom Bar -->
    <div class="bottom-bar">
        <div class="row">
            <div class="col-md-12 col-lg-12">
                <h5>
                    Check my recent activities!
                </h5>
                <!-- Social Icons -->
                <ul class="social-icons medium">
                    <li>
                        <a href="http://www.linkedin.com/in/sky3d">
                            <i class="fa fa-linkedin">
                            </i>
                        </a>
                    </li>
                    <li>
                        <a href="http://github.com/changLiuUNSW">
                            <i class="fa fa-github">
                            </i>
                        </a>
                    </li>
                    <li>
                        <a href="https://plus.google.com/+ChangLiuUNSW/about">
                            <i class="fa fa-google-plus">
                            </i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- Contact Form -->
<div id="contact-form-holder" class="dark" data-ng-class="{'form-hidden': !clicked,'form-visible': clicked}">
    <div class="contact-form-trigger" ui-appear data-animation="fadeInRight"
    data-ng-click="clicked=!clicked">
        <i class="flaticon-mail21">
        </i>
    </div>
    <form role="form" id="contact-form" method="post">
        <div class="form-group">
            <label>
                Name:
            </label>
            <input type="text" class="form-control" id="name" name="name" placeholder="Enter your name"
            required>
        </div>
        <div class="form-group">
            <label>
                Email:
            </label>
            <input type="email" class="form-control" id="email" name="email" placeholder="Enter your email"
            required>
        </div>
        <div class="form-group">
            <label>
                Message:
            </label>
            <textarea class="form-control" id="message" name="message" rows="3">
            </textarea>
        </div>
        <button type="submit" class="btn btn-default">
            Submit
            <i class="icon-after fa fa-chevron-right">
            </i>
        </button>
    </form>
</div>