<!-- Google Map -->
<div id="google-map" ui-appear data-animation="zoomIn" google-map></div>
<!-- Contact Content -->
<div><br><br></div>
<div class="content contact-content padded dark" ui-appear data-animation="fadeInLeft">
	<i class="title-icon text-primary flaticon-speech43"></i>
	<h2>聘用我？</h2>
	<!-- Contact List -->
	<ul class="list-unstyled list-unstyled-icons">
		<li>
			<i class="inline-icon icon-before-and-after text-primary fa fa-map-marker"></i>
			<span>浙江省温州市经济技术开发区金海湖畔</span>
		</li>
		<li>
			<i class="inline-icon icon-before-and-after text-primary fa fa-phone"></i>
			<span style="unicode-bidi:bidi-override;direction:rtl;">&#49;&#55;&#53;&#48;&#32;&#55;&#55;&#53;&#48;&#32;&#50;&#53;&#49;&#32;&#54;&#56;&#43;</span>
		</li>
		<li>
			<i class="inline-icon icon-before-and-after text-primary fa fa-comment"></i>
			<span style="unicode-bidi:bidi-override;direction:rtl;">&#109;&#111;&#99;&#46;&#117;&#119;&#111;&#97;&#104;&#101;&#103;&#64;&#109;&#97;&#105;</span>
		</li>
		<!--<li>
			<i class="inline-icon icon-before-and-after text-primary fa fa-wechat"></i>
			<span style="unicode-bidi:bidi-override;direction:rtl;">&#117;&#119;&#111;&#97;&#104;&#101;&#103;</span>
		</li>-->
		<li>
			<i class="inline-icon icon-before-and-after text-primary fa fa-google-plus-square"></i>
			<span style="unicode-bidi:bidi-override;direction:rtl;">&#109;&#111;&#99;&#46;&#117;&#120;&#97;&#55;&#64;&#119;&#104;&#103;</span>
		</li>
	</ul>
	<!-- Bottom Bar -->
	<div class="bottom-bar">
		<div class="row">
			<div class="col-md-12 col-lg-12">
				<h5>查看我最近的其他活动！</h5>
				<!-- Social Icons -->
				<ul class="social-icons medium">
					<li><a href="https://www.google.com/+HaowuGe"><i class="fa fa-google-plus"></i></a></li>
					<li><a href="https://twitter.com/gehaowu/"><i class="fa fa-twitter"></i></a></li>
					<li><a href="https://facebook.com/gehaowu/"><i class="fa fa-facebook-official"></i></a></li>
				</ul>
			</div>
		</div>
	</div>
</div>
<!-- Contact Form -->
<!--<div id="contact-form-holder" class="dark" data-ng-class="{'form-hidden': !clicked,'form-visible': clicked}">
	<div class="contact-form-trigger" ui-appear data-animation="fadeInRight" data-ng-click="clicked=!clicked"><i class="flaticon-mail21"></i>
	</div>
	<form role="form" id="contact-form" method="post">
		<div class="form-group">
			<label>昵称：</label>
			<input type="text" class="form-control" id="name" name="name" placeholder="输入您的昵称" required>
		</div>
		<div class="form-group">
			<label>邮件：</label>
			<input type="email" class="form-control" id="email" name="email" placeholder="输入您的邮件地址" required>
		</div>
		<div class="form-group">
			<label>消息：</label>
			<textarea class="form-control" id="message" name="message" rows="3"></textarea>
		</div>
		<button type="submit" class="btn btn-default">发送<i class="icon-after fa fa-chevron-right"></i>
		</button>
	</form>
</div>-->