<!-- Google Map -->
<div id="google-map" ui-appear data-animation="zoomIn" google-map>
</div>
<!-- Contact Content -->
<div class="content contact-content padded dark" ui-appear data-animation="fadeInLeft">
    <i class="title-icon text-primary flaticon-speech43">
    </i>
    <h2>想要联系我？</h2>
    <!-- Contact List -->
    <ul class="list-unstyled list-unstyled-icons">
        <li>
            <i class="inline-icon icon-before-and-after text-primary fa fa-map-marker">
            </i>
            <span>杭州市经济技术开发区三号大街X号</span>
        </li>
        <li>
            <i class="inline-icon icon-before-and-after text-primary fa fa-comment">
            </i>
            <a href="mailto:iam@gehaowu.cn">iam@gehaowu.cn</a>
        </li>
        <li>
            <i class="inline-icon icon-before-and-after text-primary fa fa-phone">
            </i>
            <a href="tel:+8615205770577">+(86) 152 0577 0577</a>
        </li>
    </ul>
    <br>
    <br>
    <!-- Bottom Bar -->
    <div class="bottom-bar">
        <div class="row">
            <div class="col-md-12 col-lg-12">
                <h5>查看我的最近其他活动！</h5>
                <!-- Social Icons -->
                <ul class="social-icons medium">
                    <li>
                        <a href="#">
                            <i class="fa fa-linkedin">
                            </i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-github">
                            </i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-google-plus">
                            </i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- Contact Form -->
<div id="contact-form-holder" class="dark" data-ng-class="{'form-hidden': !clicked,'form-visible': clicked}">
    <div class="contact-form-trigger" ui-appear data-animation="fadeInRight"
    data-ng-click="clicked=!clicked">
        <i class="flaticon-mail21">
        </i>
    </div>
    <form role="form" id="contact-form" method="post">
        <div class="form-group">
            <label>昵称：</label>
            <input type="text" class="form-control" id="name" name="name" placeholder="输入您的昵称"
            required>
        </div>
        <div class="form-group">
            <label>邮件：</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="输入您的邮件地址"
            required>
        </div>
        <div class="form-group">
            <label>消息：</label>
            <textarea class="form-control" id="message" name="message" rows="3"></textarea>
        </div>
        <button type="submit" class="btn btn-default">发送<i class="icon-after fa fa-chevron-right"></i>
        </button>
    </form>
</div>