<div class="home_shade_bg">
</div>
<div class="wrapper padded dark">
    <!-- Profile Content -->
    <div class="home-content">
        <div class="home_title" ui-appear data-animation="fadeInDown" data-delay="200"
        ui-jq="fitText" ui-options="1.1,{ minFontSize: '24px', maxFontSize: '75px' }">
            <span>葛豪武</span>
        </div>
        <div class="home_title_sub" ui-appear data-animation="fadeIn" data-delay="500">
            <span>欢迎来到我的</span>
            <span class="position">简体中文</span>
            <span>自述页！</span>
        </div>
        <ul class="social-icons" ui-appear data-animation="fadeInUp" data-delay="300">
            <li>
                <a href="#">
                    <i class="fa fa-linkedin">
                    </i>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-github">
                    </i>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-google-plus">
                    </i>
                </a>
            </li>
        </ul>
    </div>
    <!-- Bottom Bar -->
    <div class="home-bottom-button hidden-xs">
        <p class="scrolldown">
            <a href="#aboutme" duration="1000" du-smooth-scroll>
                <i class="fa fa-angle-double-down">
                </i>
            </a>
        </p>
    </div>
</div>