<div class="container">
    <div class="navbar-header">
        <div class="logo hidden-xs hidden-sm">
            <div>Haowu<span>Ge</span>
            </div>
        </div>
    </div>
    <div id="nav-menu" class="visible-xs" data-ng-click="isCollapsed = !isCollapsed">
    </div>
    <div class="navbar-right" collapse="isCollapsed" data-ng-init="isCollapsed=true">
        <ul class="nav navbar-nav">
            <li du-scrollspy="home">
                <a href="#home" du-smooth-scroll>
                    <span>主页</span>
                </a>
            </li>
            <li du-scrollspy="aboutme">
                <a href="#aboutme" du-smooth-scroll>
                    <span>关于我</span>
                </a>
            </li>
            <li du-scrollspy="skills">
                <a href="#skills" du-smooth-scroll>
                    <span>技能</span>
                </a>
            </li>
            <li du-scrollspy="resume">
                <a href="#resume" du-smooth-scroll>
                    <span>简历</span>
                </a>
            </li>
            <!--<li du-scrollspy="portfolio">
                <a href="#portfolio" du-smooth-scroll>
                    <span>项目</span>
                </a>
            </li>-->
            <li du-scrollspy="contact">
                <a href="#contact" du-smooth-scroll>
                    <span>联系方式</span>
                </a>
            </li>
            <!-- <li>-->
            <!-- <a href data-ng-click="setLang(currentlangKey)">-->
            <!-- <span translate="header.nav.menu.LANGUAGE">English</span>-->
            <!-- <i class="flag-icon {{langs[currentlangKey]}}"></i>-->
            <!-- </a>-->
            <!-- </li>-->
        </ul>
    </div>
</div>