<div class="container">
	<div class="heading">
		<div class="title text-uppercase" ui-jq="fitText" ui-options="1.1,{ minFontSize: '24px', maxFontSize: '36px' }">
			<br>《<span class="text-blue">岁月留痕</span>》
		</div>
		<p>记我的学习 &amp; 工作经历</p>
	</div>
	<div class="row item">
		<div class="col-sm-3">
			<div class="cv-section-title">
				<h1 ui-jq="fitText" ui-options="1.1,{ minFontSize: '24px', maxFontSize: '36px' }">
					<span>2014.09</span> / <span class="text-blue">Now</span>
				</h1>
			</div>
		</div>
		<div class="col-sm-9">
			<div class="item_content">
				<h4 class="text-blue">
					杭州宇林医学仪器有限公司
				</h4>
				<h5>
					主办会计（全职）
					<i class="fa fa-calendar"></i><span>2014年09月至至今</span>
				</h5>
				<div class="item_description">
					<p>
						● 报销发票审核，协助出纳做好日常工作<br>
						● 开具国地税发票，进项发票处理<br>
						● 存货盘点核查，定期往来款核对<br>
						● 财务分析、税负预测等财务相关业务<br>
						● 编制审核总帐会计凭证<br>
						● 按期出具财务报表<br>
						● 按时报送国地税以及统计局报表<br>
						● 企业所得税汇算清缴工作<br>
						● 国地税、统计、海关，工商等政府机构对接
					</p>
				</div>
			</div>
		</div>
	</div>
	<div class="row item">
		<div class="col-sm-3">
			<div class="cv-section-title">
				<h1 ui-jq="fitText" ui-options="1.1,{ minFontSize: '24px', maxFontSize: '36px' }">
					<span>2011.04</span> / <span class="text-blue">2014.09</span>
				</h1>
			</div>
		</div>
		<div class="col-sm-9">
			<div class="item_content">
				<h4 class="text-blue">
					浙江爱生药业有限公司
				</h4>
				<h5>
					财务助理/税务会计（全职）
					<i class="fa fa-calendar"></i><span>2011年04月至2014年09月</span>
				</h5>
				<div class="item_description">
					<p>
						● 报销票据的审核<br>
						● 往来账、库存商品核对，银行凭证的编制记帐<br>
						● 进销项发票，纳税申报等税务相关业务的处理<br>
						● 公司财务相关档案管理
					</p>
				</div>
			</div>
		</div>
	</div>
	<div class="row item">
		<div class="col-sm-3">
			<div class="cv-section-title">
				<h1 ui-jq="fitText" ui-options="1.1,{ minFontSize: '24px', maxFontSize: '36px' }">
					<span>2008.09</span> / <span class="text-blue">2011.06</span>
				</h1>
			</div>
		</div>
		<div class="col-sm-9">
			<div class="item_content">
				<h4 class="text-blue">
					浙江财经学院
				</h4>
				<h5>会计学（专科）
					<i class="fa fa-calendar"></i><span>2008年09月至2011年06月</span>
				</h5>
				</div>
			</div>
		</div>
	</div>
</div>