<div class="container">
    <div class="heading">
        <div class="title text-uppercase" ui-jq="fitText" ui-options="1.1,{ minFontSize: '24px', maxFontSize: '36px' }">
            My
            <span class="text-blue">
                Resume
            </span>
        </div>
        <p>
            MY PROFESSIONAL BACKGROUND
        </p>
    </div>
    <div class="row item">
        <div class="col-sm-3">
            <div class="cv-section-title">
                <h1 ui-jq="fitText" ui-options="1.1,{ minFontSize: '24px', maxFontSize: '36px' }">
                    <span>
                        7/2014
                    </span>
                    -
                    <span class="text-blue">
                        Now
                    </span>
                </h1>
            </div>
        </div>
        <div class="col-sm-9">
            <div class="item_content">
                <h4 class="text-blue">
                    Full Stack AngularJS/.Net Developer
                </h4>
                <h5>
                    Quad Services Pty Ltd
                    <i class="fa fa-calendar">
                    </i>
                    <span>
                        July 2014 - now
                    </span>
                </h5>
                <div class="item_description">
                    <p>
                        ● Build Single Page Application(SPA) with AngularJS
                        <br>
                        ● Build Web API with ASP.NET WEB API 2 ,Owin OAuth, Entity Framework and
                        etc
                        <br>
                        ● Build and maintain web application with Entity Framework and ASP.NET
                        MVC 5
                        <br>
                        ● Frontend development with AngularJS, KnockoutJS, JQuery, Bootstrap 3
                        <br>
                        ● Frontend Unit testing with Jasmine and Karma
                        <br>
                        ● Backend Unit testing with Moq and NUnit/MSTest
                        <br>
                        ● Design application architecture - IOC, DI, Repository pattern etc
                        <br>
                        ● Maintain, migrate, refactory and optimize legacy systems
                        <br>
                        ● Mentoring and supervising junior developers
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row item">
        <div class="col-sm-3">
            <div class="cv-section-title">
                <h1 ui-jq="fitText" ui-options="1.1,{ minFontSize: '24px', maxFontSize: '36px' }">
                    <span>
                        11/2013
                    </span>
                    -
                    <span class="text-blue">
                        6/2014
                    </span>
                </h1>
            </div>
        </div>
        <div class="col-sm-9">
            <div class="item_content">
                <h4 class="text-blue">
                    Software Developer
                </h4>
                <h5>
                    PicNet Pty Ltd
                    <i class="fa fa-calendar">
                    </i>
                    <span>
                        November 2013 - June 2014
                    </span>
                </h5>
                <div class="item_description">
                    <p>
                        ● Provided software/infrastructure support to clients
                        <br>
                        ● Developed and maintained ASP.Net WebForm and ASP.Net MVC applications
                        <br>
                        ● Developed and maintained JavaScript applications
                        <br>
                        ● Developed HTML, CSS and jQuery user interface
                        <br>
                        ● Highly experienced in IIS 6 and 7
                        <br>
                        ● Developed, migrated and deployed applications to Amazon Cloud server
                        and Windows Azure
                        <br>
                        ● Maintained critical medical application and database
                        <br>
                        ● Maintained disaster recovery of critical medical infrastructure
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row item">
        <div class="col-sm-3">
            <div class="cv-section-title">
                <h1 ui-jq="fitText" ui-options="1.1,{ minFontSize: '24px', maxFontSize: '36px' }">
                    <span>
                        10/2013
                    </span>
                    -
                    <span class="text-blue">
                        12/2013
                    </span>
                </h1>
            </div>
        </div>
        <div class="col-sm-9">
            <div class="item_content">
                <h4 class="text-blue">
                    Software Development Lead
                </h4>
                <h5>
                    VVV solutions
                    <i class="fa fa-calendar">
                    </i>
                    <span>
                        October 2013 - December 2013
                    </span>
                </h5>
                <div class="item_description">
                    <p>
                        ● Designed software and database architecture
                        <br>
                        ● Designed and wrote algorithm to extract, clean and transform data
                        <br>
                        ● Designed and developed Restful and SOAP API
                        <br>
                        ● Configured and deployed application to servers
                        <br>
                        ● Contributed to team learning and improvement
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row item">
        <div class="col-sm-3">
            <div class="cv-section-title">
                <h1 ui-jq="fitText" ui-options="1.1,{ minFontSize: '24px', maxFontSize: '36px' }">
                    <span>
                        06/2013
                    </span>
                    -
                    <span class="text-blue">
                        11/2013
                    </span>
                </h1>
            </div>
        </div>
        <div class="col-sm-9">
            <div class="item_content">
                <h4 class="text-blue">
                    Research Assistant
                </h4>
                <h5>
                    UNSW Australia
                    <i class="fa fa-calendar">
                    </i>
                    <span>
                        June 2013 - November 2013
                    </span>
                </h5>
                <div class="item_description">
                    <p>
                        Develop a PDR (Pedestrian dead reckoning) Android app to realize indoor
                        positioning with internal sensors.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row item">
        <div class="col-sm-3">
            <div class="cv-section-title">
                <h1 ui-jq="fitText" ui-options="1.1,{ minFontSize: '24px', maxFontSize: '36px' }">
                    <span>
                        2012
                    </span>
                    -
                    <span class="text-blue">
                        2013
                    </span>
                </h1>
            </div>
        </div>
        <div class="col-sm-9">
            <div class="item_content">
                <h4 class="text-blue">
                    Master of Information Technology
                </h4>
                <h5>
                    University of New South Wales
                    <i class="fa fa-calendar"></i>
                    <span>
                        2012 - 2013
                    </span>
                </h5>
                <div class="item_description">
                    <p>
                        Relevant courses: Web Application Engineering, Service-Oriented Architectures,
                        Network capacity, Computer Networks& Applications, Wireless sensor, Data
                        mining & Warehouse, Database Systems, Algorithms design etc.
                    </p>
                    <p>
                        ● UNSW 2012 S2 Postgraduate Performance Prize
                        <br>
                        ● UNSW 2013 S1 Postgraduate Performance Prize
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>