<div class="skills_bg">
</div>
<div class="container">
    <div class="col-md-12 heading">
		<div><br><br></div>
        <div class="title" ui-jq="fitText" ui-options="1.1,{ minFontSize: '24px', maxFontSize: '36px' }">
            <span class="skill-header">本人，具有 <span class="text-blue">超级牛力</span> ！</span>
        </div>
    </div>
    <div class="row no-margin">
        <div class="col-md-6">
            <h5 class="skill-heading">
                熟悉常见财务软件的会计凭证处理（用友U8/金蝶K3|KIS）
            </h5>
            <div class="current" title="100%">
                <span class="bar" data-number="100" style="width: 100%"></span>
            </div>
        </div>
        <div class="col-md-6">
            <h5 class="skill-heading">
                进销发票处理（增值税专|普票/地税发票）
            </h5>
            <div class="current" title="100%">
                <span class="bar" data-number="100" style="width: 100%"></span>
            </div>
        </div>
        <div class="col-md-6">
            <h5 class="skill-heading">
                财务相关报表出具及申报（国地税/工商/海关报表）
            </h5>
            <div class="current" title="85%">
                <span class="bar" data-number="85" style="width: 85%"></span>
            </div>
        </div>
        <div class="col-md-6">
            <h5 class="skill-heading">
                其它财务相关技能等等
            </h5>
            <div class="current" title="65%">
                <span class="bar" data-number="65" style="width: 65%"></span>
            </div>
        </div>
        <div class="col-md-6">
            <h5 class="skill-heading">
                FreeBSD / Linux 操作系统运行与维护
            </h5>
            <div class="current" title="55%">
                <span class="bar" data-number="55" style="width: 55%">
                </span>
            </div>
        </div>
        <div class="col-md-6">
            <h5 class="skill-heading">
                HTML5 / CSS3 / JS 等前端相关
            </h5>
            <div class="current" title="35%">
                <span class="bar" data-number="35" style="width: 35%">
                </span>
            </div>
        </div>
    </div>
</div>